<<<<<<< HEAD
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

=======
>>>>>>> d0b1923 (Primeiro commit)
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

<<<<<<< HEAD
.bg-gray-100 {
    background-color: #f7fafc;
}

.py-20 {
    padding-top: 5rem;
    padding-bottom: 5rem;
}
.mb-12 {
    margin-bottom: 3rem;
}

.mb-8 {
    margin-bottom: 2rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.w-full {
    width: 100%;
}

.sm\:w-1\/3 {
    width: 100%;
}

@media (min-width: 640px) {
    .sm\:w-1\/3 {
        width: 33.333333%;
    }
}

.lg\:w-1\/4 {
    width: 100%;
}

@media (min-width: 1024px) {
    .lg\:w-1\/4 {
        width: 25%;
    }
}

.bg-white {
    background-color: #fff;
}

.border {
    border: 1px solid #e2e8f0;
}

.border-gray-200 {
    border-color: #edf2f7;
}

.rounded-lg {
    border-radius: 0.5rem;
}

.p-6 {
    padding: 1.5rem;
}

.shadow-lg {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.hover\:shadow-2xl:hover {
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
}

.transition-shadow {
    transition: box-shadow 0.3s ease;
}

.duration-300 {
    transition-duration: 300ms;
}

.text-4xl {
    font-size: 2.25rem;
}

.font-bold {
    font-weight: 700;
}

.text-2xl {
    font-size: 1.5rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.text-3xl {
    font-size: 1.875rem;
}

.text-blue-500 {
    color: #4299e1;
}

.text-gray-600 {
    color: #718096;
}

.space-y-2 > :not(:last-child) {
    margin-bottom: 0.5rem;
}

.text-green-500 {
    color: #48bb78;
}

.text-red-500 {
    color: #f56565;
}

.bg-blue-500 {
    background-color: #4299e1;
}

.text-white {
    color: #fff;
}

.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}

.rounded-lg {
    border-radius: 1rem; /* Aumentado de 0.5rem para 1rem */
}


.block {
    display: block;
}

.text-center {
    text-align: center;
}

.font-semibold {
    font-weight: 600;
}

.transition {
    transition: all 0.3s ease;
}

.hover\:bg-blue-600:hover {
    background-color: #3182ce;
}

.relative {
    position: relative;
}

.bg-yellow-400 {
    background-color: #ecc94b;
}
.shadow-lg {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

.hover\:shadow-2xl:hover {
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.25);
}

.transition-shadow {
    transition: box-shadow 0.3s ease;
}

.fixed-nav {
    background-color: #1e3a8a;
    color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.nav-link {
    color: #FFFFFF;
    font-weight: bold;
    transition: color 0.3s ease, opacity 0.3s ease;
    opacity: 1;
}

.nav-link:hover {
    color: #FFFFFF;
    opacity: 0.8;
}

=======
>>>>>>> d0b1923 (Primeiro commit)
.transition {
    transition: all 0.3s ease;
}

.hapvida-benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f97306;
    color: white;
    padding: 20px;
}

.hapvida-benefits h1 {
    width: 100%;
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
}

.benefit {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: calc(33.33% - 30px);
    margin: 15px;
    text-align: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.benefit:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

.benefit img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.benefit h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.benefit p {
    font-size: 1em;
    margin-bottom: 20px;
}

.simulate-plan {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    color: white;
    background-color: #1e488f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.simulate-plan:hover {
    background-color: #003366;
}

.whatsapp {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.whatsapp img {
    width: 50px;
    height: 50px;
}

.carencias {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: calc(100% - 40px);
    margin: 0 auto;
}

.carencias h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #1e488f;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.event {
<<<<<<< HEAD
    background-color: #f9f9f9;
    border: 1px solid #dcdcdc;
    border-radius: 8px; 
    padding: 20px; 
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center; 
=======
    background-color: #f0f0f0;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 10px;
    width: 80%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
>>>>>>> d0b1923 (Primeiro commit)
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.event:hover {
    transform: scale(1.02);
    opacity: 0.95;
}

.event .time {
<<<<<<< HEAD
    font-size: 1.5em;
    font-weight: bold;
    color: #1e488f;
    margin-bottom: 10px;
    text-align: center;
=======
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
>>>>>>> d0b1923 (Primeiro commit)
}

.event .details {
    font-size: 1em;
<<<<<<< HEAD
    color: #333; 
    text-align: center;
}

footer {
    background-color: #1e3a8a;
=======
    color: #666;
}

footer {
    background-color: #333;
>>>>>>> d0b1923 (Primeiro commit)
    color: #f0f0f0;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}

.full-width-image {
    width: 100%;
    overflow: hidden;
}

.full-width-image img {
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .benefit {
        flex-basis: calc(50% - 30px);
    }
}

@media (max-width: 480px) {
    .benefit {
        flex-basis: calc(100% - 30px);
    }

    .event {
        width: 90%;
    }
}

#rede-de-atendimento {
<<<<<<< HEAD
    background-color: #f97306;
=======
    background-color: #f97306; /* mesma cor de fundo da seção .hapvida-benefits */
>>>>>>> d0b1923 (Primeiro commit)
    color: white;
}

#rede-de-atendimento h2 {
<<<<<<< HEAD
    color: white;
=======
    color: white; /* cor do texto */
>>>>>>> d0b1923 (Primeiro commit)
}

#rede-de-atendimento .rounded-lg {
    overflow: hidden;
<<<<<<< HEAD
    background-color: white;
}

#rede-de-atendimento img {
    object-fit: contain;
=======
    background-color: white; /* fundo branco para contraste */
}

#rede-de-atendimento img {
    object-fit: contain; /* Ajuste para exibir a imagem completa */
>>>>>>> d0b1923 (Primeiro commit)
    width: 100%;
    height: auto;
}

#rede-de-atendimento button {
    margin: 0 10px;
}

.text-blue-600 {
    color: #1e3a8a; /* Azul */
}
<<<<<<< HEAD


=======
/* Responsivo para a navegação */
>>>>>>> d0b1923 (Primeiro commit)
@media (max-width: 768px) {
    header .container {
        flex-direction: column;
        align-items: flex-start;
    }
    nav {
        display: none;
        flex-direction: column;
        width: 100%;
    }
    nav ul {
        flex-direction: column;
        width: 100%;
    }
    nav ul li {
        width: 100%;
        text-align: left;
        padding: 8px 0;
    }
    .menu-toggle {
        display: block;
        cursor: pointer;
    }
}

@media (min-width: 769px) {
    .menu-toggle {
        display: none;
    }
}
<<<<<<< HEAD

=======
>>>>>>> d0b1923 (Primeiro commit)
header {
    position: fixed;
    top: 0;
    width: 100%;
<<<<<<< HEAD
    z-index: 1000;
}

main {
    padding-top: 80px
}

@media only screen and (max-width: 600px) {
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {

}

@media only screen and (min-width: 1025px) {
=======
    z-index: 1000; /* Para garantir que o menu fique acima do conteúdo */
}

main {
    padding-top: 80px; /* Altura do menu de navegação */
}

@media only screen and (max-width: 600px) {
  /* Estilos para telas menores que 600px de largura */
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Estilos para telas maiores que 600px e menores que 1024px */
}

@media only screen and (min-width: 1025px) {
  /* Estilos para telas maiores que 1024px */
>>>>>>> d0b1923 (Primeiro commit)
}
